

    body {
        height: 100vh;
        width: 100%;
    }

    .container-fluid {
        height: 100%;
    }

    #mapRow {
        height: 90%;
    }

    #busDetails {
        position: absolute;
        right: 10%;
        left: 10%;
        top: 5%;
        height: 10%;
        z-index: 99;
        background-color: white;
        border-radius: 10px;
    }

    #busimg, #clockimg {
        width: 80%;
        height: 80%;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    #searchRow {
        height: 10%;
    }

    #searchCol {
        height: 100%;
        width: 100%;
    }

    #searchLine {
        margin: 2%;
        height: fit-content;
    }

    button {
        width: 100%;
    }

    .box-shadow--6dp {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
    }

    #sort, #busoptions, #compress {
        width: 30px;
        height: 30px;
    }

    #focusmap {
        background-color: white;
        width: 40px;
        height: 40px;
        position: relative;
        top: -10%;
        right: -90%;
        border-radius: 50%;
    }

    #compress {
        margin: auto;
    }

    small {
        color: #6597FF;
    }


    


